# Intermediate data files
acropolis/data/*.dat

# AlterBBN files
alterbbn/*

# Temporary files
tmp/*

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Plot data
plots/data/*

# Build files
build/*
dist/*
ACROPOLIS.egg-info

# TeX files
*.tex
*.sty
*.bst
*.bib
manual/plots/*

*.bbl
*.log
*.out
*.toc
*.aux
*.blg
*.synctex.gz
