# Files from personal projects
acropolis/prj/*
acropolis/data/cn.dat

# Reference paper
paper*

# AlterBBN files
alterbbn*

# Files for external projects
prj/*
*prj.tar.gz

# Temporary files
CHANGES
TODO
manual/v*
plots/v*
*~

# Files for later versions
acropolis/v*

# Testing scripts
test.py

# Plots
plots/data/*

# Build files
build/*
dist/*
ACROPOLIS.egg-info

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# TeX files
*.tex
*.sty
*.bst
*.bib
manual/plots/*

*.bbl
*.log
*.out
*.toc
*.aux
*.blg
*.synctex.gz
